h2 Уведомления о событиях
    p Доступно 2 вида инструментов для уведомлений
    ul 
        li a(href="") Cl.log 
        li a(href="") Gulp plugin
    article 
        a(href="cl_notify")
        .template-block   
            h3 Cl.log
        p.
    article 
        a(href="gulp_notify")
        .template-block   
            h3 Gulp notify
        p. 
    