//- HEADER

// logo
.header-wrap
    .logo-text
        img(src="image/header/logo.png", alt="Logo LAMBDA" )
    nav 
        ul 
            li 
                a(href="") Home
            li 
                a(href="") About
            li 
                a(href="") Ingredients
            li 
                a(href="") Menu
            li 
                a(href="") Reviews
            li 
                a(href="") Reservations
    // icons
    .social
        a(href="") 
            img(src="image/header/twitter.png", alt="Icons twitter")
        a(href="") 
            img(src="image/header/youtube.png", alt="Icons youtube")
        a(href="") 
            img(src="image/header/facebook.png", alt="Icons facebook")





                    



            