/* 
			main
*/
/* 
			block_1
*/
.block_1 {
	
	background-image: url(../image/block_1/bg_1.png) repeat;
	min-height: 710px;
	padding:  110px 290px 100px 287px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

 .block_1-article {
	 width: 430px;
	 height: 510px;

	//  padding: 15px 11px  18px 11px;
	h2 {
		font-size: 36px;
		font-family: "YesevaOne";
		color: rgb(204, 153, 0);
		line-height: 0.667;
		text-align: center;


	}
	 .decoration {
		// margin: 0 auto;

		 margin: 32px 89px  15px  89px ;

	}
	 p {
		font-size: 16px;
		font-family: "Lato";
		color: rgb(76, 76, 76);
		line-height: 1.5;
		text-align: center;

	}
	.cook {
		margin-top: 55px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
 		// background-image: url(../image/block_1/cook.png);
		// background-size: 100%;  

		// position: absolute;
		// left: 425px;
		// top: 1125px;
		// width: 219px;
		// height: 221px;
	}
	.block_1-dish {

		}
	}



}

