//- FOOTER
.footer
    article.footer-article-1 
        h3 About Us
        img(src="image/decoration_header_footer_blocks_3_5.png", alt="Decoration")
        p 
            | Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café.
            | Lamda the best restaurant in town
    article.footer-article-2 
        h3 Opening Hours
        img(src="image/decoration_header_footer_blocks_3_5.png", alt="Decoration")
        p Mon-Thu: 
            span 7:00am-8:00pm
        p Fri-Sun: 
            span 7:00-10:00pm
        .cards-to-pay
            a(href="") 
                img(src="image/footer/first_card.png" alt="webpay card")
            a(href="") 
                img(src="image/footer/second_card.png" alt="paypal card")
            a(href="") 
                img(src="image/footer/third_card.png" alt="visa card")
            a(href="") 
                img(src="image/footer/fourth_card.png" alt="mastercard card")

    article.footer-article-3 
        h3 Our Location
        img(src="image/decoration_header_footer_blocks_3_5.png", alt="Decoration")
        span 19th Paradise Street Sitia
        span 128 Meserole Avenue
        .social
            a(href="") 
                img(src="image/footer/first_icon.png" alt="facebook")
            a(href="") 
                img(src="image/footer/second_icon.png" alt="youtube")
            a(href="") 
                img(src="image/footer/third_icon.png" alt="twitter")
            a(href="") 
                img(src="image/footer/fourth_icon.png" alt="social icon")
        