//- TODO:
    * Добавить якоря к .operation-blocks на документацию к соотсвествующим местам



.service-block
    .template-block
        span Documentation
    .operation-block
        span JsDoc
    .operation-block
        span Readme Bundler
.service-block
    .template-block
        span Servers
    .operation-block
        span Local-host server
    .operation-block
        span Livepreload server
    .operation-block
        span Selenium server
.service-block
    .template-block
        span Envoirement
    .operation-block
            span Development Envoirement
    .operation-block
            span Presentation envoirement
    .operation-block
            span Prodaction envoirement
.service-block
    .operation-block
        span Testing
    .operation-block
        span Jasmine tests
    .operation-block
        span Mocha tests
    .operation-block
        span GUI tests
.service-block
    .operation-block
        span Validation
    .operation-block
        span Html validation
    .operation-block
        span Js validation

.service-bundler-block
    .template-block
        span Roll Up
    .operation-block
        span Bundle javascript
    .operation-block
        span Minification javascript
    .operation-block
        span Linters javascript
    .-block
        span

.service-block
    .template-block
        span Notification
    .operation-block
        span Cl.log
    .operation-block
        span Gulp-plugin


//- -block
//-     .template-block
//-         span
//-     .operation-block
//-         span
//-     .operation-block
//-         span
//-     .operation-block
//-         span
//-     .operation-block
//-         span
//-     .operation-block
//-         span
