//- TODO:
	* Добавить якоря к .operation-blocks на документацию к соотсвествующим местам
mixin horizontalLine
	.horizontal-line-wrap
		.horizontal-line
			hr
mixin services-block(blockProperty)
	-
		let templateBlockName = blockProperty[0],
			firstOperationBlockName = blockProperty[1][0],
			//- firstOperationBlockAnchor = blockProperty[1[1]],
			//- secondOperationBlockName = blockProperty[2][0],
			//- secondOperationBlockAnchor = blockProperty[2[1]],
			//- thirdOperationBlockName = blockProperty[3][0],
			//- thirdOperationBlockAnchor = blockProperty[3[1]],
			//- forthOperationBlockName = blockProperty[4][0],
			//- forthOperationBlockAnchor = blockProperty[4[1]],
			listOperationBlocks = blockProperty.splice(1, blockProperty.length),
			howMuchHorizontalLine = listOperationBlocks.length;

	.service-block-wrap
		+horizontalLine
		.service-block
			.template-block
				h2.text-sm= templateBlockName
			.description
				each element in listOperationBlocks
					.operation-block-wrap
						+horizontalLine
						.operation-block
							a(href= element[1]).text-xs= element[0]

-
	let docsProperties = ['Documentation', ['JsDoc', '#jsdoc_docs'], ['SassDoc', '#sass_docs'], ['Readme Bundler', '#readme_docs'], ['Licence Library', '#licence_docs']],
		serversProperties = ['Servers', ['Local-host server', '#localhost'], ['Livepreload server', '#livepreload'], ['Selenium server','#selenium']],
		envProperties = ['Environment', ['Development Environment', '#development_envoirement'], ['Presentation Environment', '#presentation_envoirement'], ['Prodaction Environment','prodaction_envoirement']],
		testingProperties = ['Testing', ['Jasmine tests', '#jasmine_tests'], ['Mocha tests', '#mocha_tests'], ['Speed load page tests', '#speed_tests'], ['GUI tests', '#gui_tests']],
		validationProperties = ['Validation', ['Html validation', '#html_validation'], ['Js validation', '#js_validation'], ['Sass validation', '#scss_validation']],
		notificationProperties = ['Notification', ['Cl.log', '#cllog'], ['Gulp-notify', '#gulpnotify']],
		jsProperties = ['Javascript', 'Bundle and Minification javascript with Roll Up', 'Linters javascript for Eslint'];

+services-block(docsProperties)
+services-block(serversProperties)
+services-block(envProperties)
+services-block(testingProperties)
+services-block(validationProperties)
+services-block(notificationProperties)
+services-block(jsProperties)
//- +services-block()
