h2 Документация
    p Доступно 2 вида инструментов для генерации документации
    ul 
        li a(href="") JsDoc 
        li a(href="") Readme bundler
    article 
        a(href="jsdoc_docs")
        .template-block   
            h3 jsDoc
        p.
    article 
        a(href="readme_docs")
        .template-block   
            h3 Readme Bundler ( on future )
        p. 
    