a(href="envoirement")
h2 Окружения для запуска задач
    p Доступно 3 вида окружения для запуска задач 
    ul
        li a(href="Development_envoirement") * Development 
            
        li a(href="Prodaction_envoirement") * Prodaction
              
        li a(href="Presentation_envoirement") * Presentation
              
        
    article 
        a(href="Development_envoirement")
        .template-block   
            h3 Development envoirement
        p.

    article    
        a(href="Prodaction_envoirement")
        .template-block   
            h3 Prodaction envoirement
        p.
            Минифицирование ...
    article    
        a(href="Presentation_envoirement")
        .template-block   
            h3 Presentation envoirement
        p.
            Версия для презентации. Создаеться архив + открыт сервер для быстрого представления заказчику работы 