include mixins/article

a(name="envoirement")
h2.text-md.text-center.docs-template-block Окружение для запуска задач
p Доступно 3 вида окружения для запуска задач
ul
	li
		a(href="#development_envoirement") Development
	li
		a(href="#production_envoirement") Production
	li
		a(href="#presentation_envoirement") Presentation

+description('development_envoirement', 'gulp', 'Development envoirement', 'Режим для разработки - это набор процедур и инструментов для разработки, тестирования и отладки приложения. Во время запуска проекта в режиме разработки запускаеться сервер для отображения результатов в браузере в режиме реального времени и происходит преобразование из *.pug в *.html, *.scss в *.css')
+description('production_envoirement', 'gulp build', 'Production envoirement', 'Режим для разработки - это набор процедур и инструментов для создания окончательной версии приложения, файлы проходят минификацию и валидацию, их окончательный размер выводится консоль.')
+description('resentation_envoirement', 'gulp view', 'Presentation envoirement', 'Режим для презентации - это набор процедур и инструментов для возможности показать последнюю версию проекта заказчику. При переходе в этот режим запускаеться сервер-туннель, ссылку для доступа к которому будет отображена в консоли, так же происходит создание архива последней версии приложения для убоства отправки по интернету.')


.triangle-up
a(href="#top") К началу документации
