h2 
    p Доступно 3 вида запускаемых серверов.
    ul 
        li a(href="") Local-host server 
        li a(href="") Livepreload server
        li a(href="") Selenium server
    article
        a(href="")
        .template-block   
            h3 Local-host server 
        p.
    
    article
        a(href="")
        .template-block   
            h3 Livepreload server
        p. 
    
    article
        a(href="")
        .template-block   
            h3 Selenium server
        p. 
    