a(href="tests")
h2 Тестирование и валидация
    h2 Тестирование
    p Доступно 3 вида инструментов для тестирование, автор проекта использует <b>Jasmine</b> 
    ul
        li a(href="Jasmine_tests") * Jasmine   
        li a(href="Mocha_tests") * Mocha 
        li a(href="GUI_tests") * GUI  
    p.  
        * Сноска, во время выполнения GUI тестов удобно использовать cl.log для уведомлений в консоль.     
    article 
        a(href="Jasmine_tests")
        .template-block   
            h3 Jasmine 
        p.

    article    
        a(href="Mocha_tests")
        .template-block   
            h3 Mocha
        p.

    article    
        a(href="GUI_tests")
        .template-block   
            h3 GUI
        p. 
            Webdriver + selenium server
    
    h2 Валидацая
    p Доступно 2 вида инструментов для валидации.
    ul 
        li a(href="html_validation") Html валидацая 
        li a(href="js_validation") Javascript валидацая

    article    
        a(href="html_validation")
        .template-block   
            h3 Html
        p. 

    article    
        a(href="js_validation")
        .template-block   
            h3 Javascript
        p. 
