//- TODO:
	* шапку из последнего фриланса
	* перевести на express + подтяжка данных из json файла => конвертация в html
include ./templates/head
	//- header
	header
		include ./templates/header
	//- main content
	main
		include scheme/scheme.pug
		//- добавить возврат после каждого пункта к схеме
		include documentation/documentation.pug
	//- footer
	footer
		include ./templates/footer







//- .container 
//- 	.
//- 		include 
