//- TODO:
	* шапку из последнего фриланса
include ./templates/head
	header
	header
		include ./templates/header
	//- main content
	main
		include ./scheme/scheme
		//- добавить возврат после каждого пункта к схеме
		include ./documentation/documentation
	//- footer
	footer
		//- include ./templates/footer



