
.vertical-line , hr {
   background-color: #fff;
}
  .vertical-line {
    border-right: 2px solid #ccc;
  }


.horizontal-line-main-block {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
  hr {
    width: 100px;
  }

}

.horizontal-line {
  display: flex;
  align-content: center;
  align-items: center;
  hr {
    width: 100px;
  }
}

