//- SLAID-BLOCK № 1

//- Цвет патернавского фона заднего – fcfcfc
section.block_1
    article.block_1-article
        h2 Just the right food 
        img(src="image/decoration_blocks_2_5.png", alt="Decoration" class="decoration")
        p 
           | If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!
        div.cook 
            img(src="image/block_1/cook.png", alt="Cook")
    aside.block_1-dish
        img(src="image/block_1/dish.png", alt="Dish")


