
section.block_promo
    header  
        include ../header/header.pug
    .content
        H1 the right ingredients for the right food
        //- .block_1-decoration
            img(src="image/decoration_header.png", alt="decoration")
        img(src="image/block_promo/divider.png", alt="decoration" class="decoration")    
        figure    
            button.btn-black
                a(href="")  BOOK A TABLE
            button.btn-transparency
                a(href="")  SEE THE MENU